<div class="haut">
  <h1>Entreprise</h1>
  <div class="user">
    <i style="margin-right: 15px;" class="bi bi-bell-fill"></i>
    <p style="margin-right: 10px; font-size: 20px; font-weight: 600; color: #4f4f4f">Jeremy</p>
    <img style="margin-right: 10px;" class="userImg" src="https://img.freepik.com/psd-gratuit/personne-celebrant-son-orientation-sexuelle_23-2150115662.jpg">
    <i class="bi bi-chevron-down"></i>
  </div>
</div><br/>
<div class="data">
  <div class="container mt-5">
    <h1>À propos de notre entreprise</h1>
    <p>
      Bienvenue sur la page "À propos" de notre entreprise. Nous sommes une entreprise engagée dans la fourniture de produits et de services de haute qualité depuis de nombreuses années. Notre mission est de satisfaire les besoins de nos clients et de dépasser leurs attentes.
    </p>

    <h1>Notre Histoire</h1>
    <p>
      Fondée en 2019, notre entreprise a connu une croissance constante et a évolué pour devenir un leader de l'industrie. Notre engagement envers l'innovation, la qualité et le service à la clientèle a été le moteur de notre succès.
    </p>

    <h1>Notre Équipe</h1>
    <p>
      Notre équipe est composée de professionnels talentueux et dévoués qui travaillent ensemble pour atteindre nos objectifs. Nous croyons en la diversité, la collaboration et la créativité.
    </p><br/>
    <div class="listEquipe">
      <div class="equipe" *ngFor="let i of [1, 2, 3]">
        <img class="imgList" src="https://img.freepik.com/psd-gratuit/personne-celebrant-son-orientation-sexuelle_23-2150115662.jpg">
        <p>Jeremy</p>
      </div>
    </div>
  </div>
</div>
