<div class="haut">
  <h1>Produit</h1>
  <div class="user">
    <i style="margin-right: 15px;" class="bi bi-bell-fill"></i>
    <p style="margin-right: 10px; font-size: 20px; font-weight: 600; color: #4f4f4f">Jeremy</p>
    <img style="margin-right: 10px;" class="userImg" src="https://img.freepik.com/psd-gratuit/personne-celebrant-son-orientation-sexuelle_23-2150115662.jpg">
    <i class="bi bi-chevron-down"></i>
  </div>
</div>

<div class="ndL">
  <div class="ndLDroite">
    <div class="recherche">
      <input type="text" id="search" [(ngModel)]="search" class="inputSearch" placeholder="Recherche..."/>
      <button id="searchBtn" type="button" class="btn btn-primary">
        <i style="color: #979797" class="bi bi-search"></i>
      </button>
    </div>
  </div>
</div>
<br/>

<div class="data">
  <ul class="list-group list-group-flush">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prix</th>
        <th scope="col">Stocks</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of jsonData.slice(startIndex, startIndex+5) | filtreRecherche: search; let index" style="height: 100px">
        <td>
          <div class="nom">
            {{item.Nom}}<br/>
          </div>
        </td>
        <td>
          {{item.prix}}
        </td>
        <td>
          <div>
            {{item.stock}}
          </div>
        </td>
        <td>
          <button id="btnInfo1" class="btn btn-primary"><i class="bi bi-bag-plus"></i></button>
          <button id="btnInfo2" class="btn btn-primary"><i class="bi bi-file-diff"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="pagination">
      <select>
        <option value="">5 Résultats par page</option>
      </select>
      <div class="page">
        <a *ngIf="startIndex == 5" type="button" class="btn btn-link" (click)="updateDataSlice(0)"><i class="bi bi-chevron-left"></i></a>
        <p class="numPage">{{numPage}}</p>
        <a *ngIf="startIndex == 0" type="button" class="btn btn-link" (click)="updateDataSlice(5)"><i class="bi bi-chevron-right"></i></a>
      </div>
    </div>
  </ul>
</div>
