<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<div>
  <div>
     <div id="mySidenav" class="sidenav">
      <a class="logo"><img width="125" src="/assets/images/logo.png"></a>
      <a [ngStyle]="stylesAcc" (click)="accueil()"><span><i class="bi bi-house"></i> </span> <span> Accueil</span></a>
      <a [ngStyle]="stylesProd" (click)="Produit()"><span><i class="bi bi-grid"></i> </span> <span> Produits</span></a>
      <a [ngStyle]="stylesEntre" (click)="entreprise()"><span><i class="bi bi-paperclip"></i> </span> <span> Entreprise</span></a>
      <a [ngStyle]="stylesCamp" (click)="campagne()"><span><i class="bi bi-bookmark"></i> </span> <span> Campagnes</span></a>
      <a [ngStyle]="stylesContact" (click)="contact()"><span><i class="bi bi-calendar"></i> </span> <span> Contact</span></a>
    </div>
    <div class="body">
      <div class="content">

        <div *ngIf="afficherCampagne">
          <app-campagne></app-campagne>
        </div>

        <div *ngIf="afficherAccueil">
          <app-accueil></app-accueil>
        </div>

        <div *ngIf="afficherProduit">
          <app-produit></app-produit>
        </div>

        <div *ngIf="afficherEntreprise">
          <app-entreprise></app-entreprise>
        </div>

        <div *ngIf="afficherContact">
          <app-contact></app-contact>
        </div>


      </div>
    </div>
  </div>
</div>

