<div class="haut">
  <h1>Campagnes</h1>
  <div class="user">
    <i style="margin-right: 15px;" class="bi bi-bell-fill"></i>
    <p style="margin-right: 10px; font-size: 20px; font-weight: 600; color: #4f4f4f">Jeremy</p>
    <img style="margin-right: 10px;" class="userImg" src="https://img.freepik.com/psd-gratuit/personne-celebrant-son-orientation-sexuelle_23-2150115662.jpg">
    <i class="bi bi-chevron-down"></i>
  </div>
</div>

<div class="ndL">
  <div class="onglets">
    <div class="onglet">
      <p>Campagnes</p><div class="ligneB"></div><br/>
    </div>
    <div class="vr" style="height: 25px"></div>
    <p class="MC">Mots-clés</p>
    <button id="btn4" class="btn btn-primary"> Nouvelle campagne </button>
  </div>
  <div class="ndLDroite">
    <select style="width: 220px">
      <option value="">Date de création.desc.</option>
    </select>
      <div class="recherche">
          <input type="text" id="search" [(ngModel)]="search" class="inputSearch" placeholder="Recherche..."/>
          <button id="searchBtn" type="button" class="btn btn-primary">
          <i style="color: #979797" class="bi bi-search"></i>
        </button>
      </div>
  </div>
</div>

<div class="data">
  <ul class="list-group list-group-flush">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col"></th>
        <th scope="col">Partages</th>
        <th scope="col">Clics</th>
        <th scope="col">Contacts</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of jsonData.slice(startIndex, startIndex+5) | filtreRecherche: search; let index" style="height: 100px">
        <td>
          <div class="nom">
            {{item.Nom}}<br/>
              <button *ngIf="item.Tags[0]" id="btn1" class="btn btn-primary">{{item.Tags[0]}}</button>
              <button *ngIf="item.Tags[1]" id="btn2" class="btn btn-primary">{{item.Tags[1]}}</button>
              <button *ngIf="item.Tags[2]" id="btn3" class="btn btn-primary">{{item.Tags[2]}}</button>
          </div>
        </td>
        <td>
          <div>
            <img class="infoImg" *ngIf="item.img" src="{{item.img}}">
          </div>
        </td>
        <td style="height: 43px; width: 120px; text-align: center">
            {{item.Partages}}<br/>
            <p>({{item.Attente}} en attente)</p>
        </td>
        <td>
            {{item.Clics}}
        </td>
        <td>
          <div>
            {{item.Contacts}}
          </div>
        </td>
        <td>
            <button id="btnInfo1" class="btn btn-primary"><i class="bi bi-share"></i></button>
            <button id="btnInfo2" class="btn btn-primary"><i class="bi bi-pencil"></i></button>
            <button id="btnInfo3" class="btn btn-primary"><i class="bi bi-gear"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="pagination">
      <select>
        <option value="">5 Résultats par page</option>
      </select>
      <div class="page">
        <a *ngIf="startIndex == 5" type="button" class="btn btn-link" (click)="updateDataSlice(0)"><i class="bi bi-chevron-left"></i></a>
        <p class="numPage">{{numPage}}</p>
        <a *ngIf="startIndex == 0" type="button" class="btn btn-link" (click)="updateDataSlice(5)"><i class="bi bi-chevron-right"></i></a>
      </div>
    </div>
  </ul>
</div>
