@font-face {
  font-family: "myfont2";
  src: url("/assets/fonts/avenir_next_lt_pro_bold-webfont.woff") format('woff');
}

h1{
  font-family: myfont2;
  font-weight: 700;
  font-size: 30px;
  color: #4f4f4f;
}

.data{
  background-color: white;
  border-radius: 10px;
  padding: 2% 1% 1% 1%;
  width: 90%;
  height: 700px;
  text-align: center;
}

p{
  font-size: 14px;
  font-family: myfont;
  font-weight: 500;
  color: #818181;
}

li{
  font-family: "myfont2";
  color: #4f4f4f;
}
#btn1{
  background-color: #d95e54;
  border-color: #d95e54;
  border-radius: 10px;
  height: 34px;
  font-weight: 600;
  font-size: 16px;
}

#btn2{
  background-color: #d95e54;
  border-color: #d95e54;
  border-radius: 10px;
  height: 34px;
  font-weight: 600;
  font-size: 16px;
  margin-left: 8px;
}
#btn3{
  background-color: #d95e54;
  border-color: #d95e54;
  border-radius: 10px;
  height: 34px;
  font-weight: 600;
  font-size: 16px;
  margin-left: 8px;
}

.objet{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 70px));
  gap: 200px;
}

.tag{
  display: flex;
  justify-content: space-between;
}

.infoImg{
  width: 50px;
  height: 50px;
  margin-left: 123px;
  border-radius: 35px;
  border: 1px #EBEBEB;
}

#btnInfo1{
  width: 45px;
  height: 37px;
  background-color: #2a7a93;
  border-color: #2a7a93;
  border-radius: 12px;
}

#btnInfo2{
  width: 45px;
  height: 37px;
  background-color: #2a7a93;
  border-color: #2a7a93;
  border-radius: 12px;
  margin-left: 3px;
}

#btnInfo3{
  width: 45px;
  height: 37px;
  background-color: #2a7a93;
  border-color: #2a7a93;
  border-radius: 12px;
  margin-left: 3px;
}


.pagination{
  display: flex;
  justify-content: space-between;
}

.page{
  display: flex;
  justify-content: space-between;
}

.page a{
  color: #818181;
}

.numPage{
  width: 50px;
  height: 44px;
  text-align: center;
  margin-top: -5px;
  border: #efefef solid 1px;
  border-radius: 12px;
}

select{
  color: #979797;
  border-color: #efefef;
  border-radius: 8px;
}

#infos{
  margin-top: 20px;
}

.haut{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.ndLDroite{
  width: 433px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

.user{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.userImg{
  width: 50px;
  height: 50px;
  border-radius: 35px;
  border: 1px #EBEBEB;
}

th{
  font-family: myfont;
  font-weight: 600;
  font-size: 20px;
  color: #4f4f4f;
}

td{
  font-family: myfont;
  font-weight: 600;
  color: #4f4f4f;
}
td p{
  font-size: 14px;
  font-family: myfont;
  font-weight: 500;
  color: #818181;
}

.onglet{
  width: 122px;
  height: 40px;
  color: #4f4f4f;
  font-size: 22px;
  font-weight: 600;
  font-family: myfont;
  border-bottom: 3px solid #2A7A93;
  border-radius: 2px;
}

.MC{
  width: 97px;
  height: 30px;
  font-size: 22px;
  font-weight: 500;
  font-family: myfont;
  color: #4f4f4f;
}

#btn4{
  background-color: #d95e54;
  border-color: #d95e54;
  border-radius: 10px;
  height: 44px;
  width: 180px;
  font-weight: 600;
  font-size: 16px;
}

.onglets{
  width: 483px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#searchBtn{
  width: 44px;
  height: 44px;
  border-radius: 0px 8px 8px 0px;
  background-color: #FDFDFF;
  border: 1px #EBEBEB solid;
}

.recherche{
  width: 193px;
  display: flex;
}

.ndL{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.inputSearch{
  width: 149px;
  height: 44px;
  background-color: #FDFDFF;
  color: #979797;
  border: 1px #EBEBEB solid;
  border-radius: 8px 0px 0px 8px;
}
